*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #CDFBE4;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; 
}

nav ul li a{
  color: ghostwhite;
  text-decoration: none;
  padding: 30px;
  font-size:large;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  flex: 0 1 auto;
  text-align: center;
  margin: 0 40px; 
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}
.outing-title {
  list-style-type: none;
  color:black;
  text-align: center;
  text-decoration: none;
}

header {
  background-color: #61a687;
  text-align: center;
  width: 100%;
  flex: 0 0 auto;
}

footer {
  background-color: #61a687;
  width: 100%;
  flex: 0 0 auto; 
  margin-top: auto;
}

.copy {
  text-align: end;
}

.index-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.index-search-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 600px;
  font-size: medium;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 600px;
  font-size: medium;
  border-color: #000;
}

.search-button {
  padding: 12px 16px;
  background-color: #2C7255;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.search-button:hover {
  background-color: #095326;
}

h2{ 
  margin-left: 10%;
  margin-bottom: 2%;

 } 

.image-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .image-container {
    width: 100%; /* Set the width to 100% to resize the image to fit the container */
    height: auto; /* Maintain the aspect ratio by setting height to auto */
  }
}

figure {
  text-align: center;
  margin-right: 40px; 
  border: 1px solid #61A687; 
  background-color:#61A687;
  padding: 10px; 
  margin-bottom: 40px;
  border-radius: 4px;
}

figure img {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
  border: 1px solid #000; 
}

figcaption {
  margin-top: 10px; 
  border-top: 1px solid #000; 
  padding-top: 10px; 
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  margin-bottom: 0%;
}

.saves-container {
  display: flex;
  flex: 1;
  margin-left: 100px;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px; 
  position: relative;
}

.saves-pref {
  display: box;
  padding: 10px;
  background-color: #3c6954;
  color: white;
  border-radius: 4px;
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  margin-right: 10%;
}

.saves-pref h1 {
  flex: 1;
  margin-right: 10px;
}

.saves-pref img {
  flex-shrink: 0;
}

.saves-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: left;
  display: flex;
  flex: 1;
  margin-right: 0px;
  margin-top: 3%;
}

.saves-col1 {
  background-color:#61A687;
  padding: 10px; 
  margin-bottom: 40px;
  text-align: left;
  box-sizing: border-box;
  width: 300px;
  align-self: center;
  border-radius: 4px;
}

.saves-col2 {
  background-color:#61A687;
  padding: 10px; 
  margin-bottom: 40px;
  text-align: left;
  box-sizing: border-box;
  width: 300px;
  align-self: center;
  border-radius: 4px;
}

.saves-col3 {
  background-color:#61A687;
  padding: 10px; 
  margin-bottom: 40px;
  text-align: left;
  box-sizing: border-box;
  width: 300px;
  align-self: center;
  border-radius: 4px;
}

.saves-col1, .saves-col2, .saves-col3 img {
  max-width: 100;
  height: 100;
}

.account-container {
  display: flex;
  
}

.account-sidebar {
  width: 325px; 
  background-color: #CDFBE4; 
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.account-sidebar h1 {
  margin-top: 5%;
}

.account-sidebar img {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  float: left
}

.profinf-text-cont {
  display: flex;
  align-items: center;
}

.accountprof-text-cont {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 10%;
}

.account-main {
  flex: 1;
  background-color: #CDFBE4; 
}

.account-sidenav {
  display: flex;
  flex-direction: column;
}


.prefli, .upevli, .pastevli, .revli, .settingsli {
  display: box;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  align-items: left;
  justify-content: left;
  background-color: #2C7255;
  color: #333;
  text-align: start;
  border-radius: 4px;
  border-width: 100px;
  margin-left: 0%;
  margin-right: 0%;
}

.prefli:hover, .upevli:hover, .pastevli:hover, .revli:hover, .settingsli:hover {
background-color: #095326;
}

.account-pref {
  display: box;
  padding: 10px;
  background-color: #3c6954;
  color: white;
  border-radius: 4px;
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  margin-right: 10%;
}

.account-pref h1 {
  flex: 1;
  margin-right: 10px;
}

.account-pref img {
  flex-shrink: 0;
}


.loc-title, .genre-title, .org-title, .ven-title {
  display: inline-block;
  width: 15%;
  margin-left:  5%;
  margin-top: 1%;
  align-items: center;
  text-align: center;
  background-color: #61a687;
  color: white;
  border-radius: 4px;
  justify-content: center; 
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 6%;
}

.tags p{
  text-align: start;
  margin-right: 13%;
  
}

.account-upev {
  display: box;
  padding: 10px;
  background-color: #3c6954;
  color: white;
  border-radius: 4px;
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  margin-right: 10%;
}

.upev-content {
display: box;
margin-left: 5%;
display: flex;
flex-direction: row;
margin-top: 1%;
}

.account-upev h1 {
  flex: 1;
  margin-right: 10px;
}

.account-upev img {
  flex-shrink: 0;
}

.rev-content{
display: box;
margin-left: 5%;
display: flex;
flex-direction: row;
margin-top: 1%;
margin-bottom: 5%;
}

.filmore-rev, .DSO-rev, .drivein-rev {
display: flex;
display: inline-block;
margin-right: 8%;
}

.settings-main {
flex: 1;
background-color: #CDFBE4; 
}

.settings-pref {
display: box;
padding: 10px;
background-color: #3c6954;
color: white;
border-radius: 4px;
margin-top: 10%;
margin-left: 1%;
display: flex;
margin-right: 10%;
}

.settings-pref h1 {
flex: 1;
margin-right: 10px;
}

.settings-pref img {
flex-shrink: 0;
}

.settings-pref-tags {
display: flex;
justify-content: space-between;
}

.settings-title {
flex: 1;
box-sizing: border-box;
display: flex; 
align-items: center;
justify-content: center;
background-color: #61a687;
color: white;
border-radius: 4px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin: 1% 2%; 
}

.settings-pair {
flex: 0 0 calc(20% - 20px);
padding: 10px;
box-sizing: border-box;
margin-bottom: 20px;
flex-basis: calc(20% - 20px); 
max-width: calc(20% - 20px); 
}

.settings-pair p {
margin-left: 10%;
margin-top: 10%;
}

.settings-pref-tags {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.settings-pair {
flex: 1 0 calc(20% - 20px);
padding: 10px;
box-sizing: border-box;
margin-bottom: 20px;
}

@media (max-width: 768px) {
.settings-pair {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
}
}

.contact-pref {
display: box;
padding: 10px;
background-color: #3c6954;
color: white;
border-radius: 4px;
margin-top: 5%;
margin-left: 15%;
display: flex;
margin-right: 25%;
justify-content: center;
}
.contact-main-container{
display: flex;
min-height: 80vh;
}

.contact-form{
width: 60%;
}

.contact-info{
margin-top: 15%;
margin-left: 15%;
}

.contact-tit {
display: box;
padding: 2px;
background-color: #3c6954;
color: white;
border-radius: 4px;
margin-right: 10%;
margin-left: 5%;
justify-content: center;
text-align: center;
width: 200%;
}

.contact-tit-subinfo {
display: box;
padding: 2px;
background-color: #61A687;
color: white;
border-radius: 4px;
margin-top: 10%;
width: 125%;
margin-left: 5%;
}

.phone-num, .address {
margin-top: 5%;
margin-left: 5%;
}

label {
  display: block;
}

.validate {
margin-left: 50%;
margin-right: 10%;
margin-top: 6%;
}

.contact-form-input-name {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 75%;
  border-radius: 4px;
  margin-bottom: 5%;
  border: solid #cfcfcf 2px;
}

.contact-form-input-email {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  width: 75%;
  border-radius: 4px;
  margin-bottom: 5%;
  border: solid #cfcfcf 2px;
}

.contact-form-input-message {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 125%;
  padding: 10px;
  height: 150px;
  resize: vertical;
  border-radius: 4px;
  margin-bottom: 3%;
  border: solid #cfcfcf 2px;
}

.error-message {
  margin: -.5em 0 1em;
  color: red;
}

.contact-form-input:focus {
  outline: none;
  border: 2px solid #095326;
  border: #000 2px solid;
}

.contact-form-submit {
  background: #61A687;
  width: 50%;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 4px;
  padding: .5em;
  border: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  background: #095326;
  color: white;
}

